/* reset do cs */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
/* começa a conta o tamanho do elemento a partir da borda da pagina */
}
body {
background-color:pink;
font-family: Arial;
background-size: auto 100vh;
/* altura do vilport */
/* valor absoluto */
/* auto= mantem a proporçao */
height:110vh;
/* altura no body sempre a mesma  */
/* background-image:url('');
caminho da imagem para sair a pasta url('../img') */
font: size 12;px;
}
header{
height: 100vh;
display:flex;
justify-content:center;
align-items: center;
}
@media(min-width: 400px) {
    /* se a minha tela tiver pelo menos 400px */
    /* vai carregar esses estilos */
    body {
        font-size 14px;
    }

}
@media(min-width:600px){
    body{
        font-size:18px;
    }
}
.menu {
    background-color:white;
    font-family: cursive;
    position:fixed;
    /* elemento fique fixo */
    width: 100vw;
    top:0;
}
.menu ul {
    display: flex;
    /* vira coluna */
    justify-content: space-around;
    /* espaço entre as colunas */
    /* so funciona as duas em conjunto */
}
.menu li {
    list-style: none;
    /* tirar os pontos do menu */
}
    
.menu a {
padding: 10px 20px;
display: block;

/* afasta o conteudo de texto */
}
a {
    /* text-decoration:none; */
    /* tirar o link */
    /* color: teal;
    serve para mudar a cor do texto */
    font-family: Verdana, sans-serif;

}
a: hover {
   text-decoration: underline;
   /* passar o mouse e aparecer o link */
}
.site-subtitle,
.site-title {
text-align: center;
color: black;
}
.site-title {
    font-size: 4m;
}
.site-subtitle {
    text-align: center;
    font-family: ' Verdana, sans-serif';
}
.img-portfolio {
width: 180px;
height: 180px;
}



